body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td, menu { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img, abbr { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }

ul li, menu li { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }

legend { color: #000; }

a { text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

img { max-width: 100%; height: auto; }

@font-face { font-family: "Scriptina"; src: url("../fonts/Scriptina/SCRIPTIN.ttf") format("truetype"); }

@font-face { font-family: "firasans"; src: url("../fonts/FiraSansRegular/FiraSansRegular.ttf") format("truetype"); }

/* Breakpoints */
/* Container sizes */
* { box-sizing: border-box; }

.visually-hidden { visibility: hidden; position: absolute; }

#news-anchor { visibility: hidden; }

.js-popup-login { display: none; }

body { font-family: sans-serif; font-size: 16px; background: #242424; font-family: firasans; }

.modal-window { position: fixed; top: 0; left: 0; bottom: 0; width: 100%; }

.modal-window__content { position: absolute; margin: 90px auto; top: 0; bottom: 0; right: 0; left: 0; }

/* BLOCK  == MODAL-PAGE == */
.modal-page { background: #f8f5f2; padding: 20px; margin: 0 auto; max-width: 320px; box-sizing: content-box; }

@media screen and (min-width: 768px) { .modal-page { padding: 30px 64px; box-shadow: 2px 2px 50px 0px black; } }

.modal-page__row-wrapper { margin: 20px 0; }

.modal-page__row-wrapper--flex { display: flex; align-items: center; }

.modal-page__wrap-divider { flex-grow: 1; }

.modal-page__title { text-align: center; text-transform: uppercase; font-weight: bold; font-size: 30px; margin: 10px 0; }

.modal-page__descr { text-align: center; font-size: 14px; }

.modal-page__login { display: block; margin: 10px 0; }

.modal-page__password { display: block; margin: 10px 0; }

.modal-page__inputs { width: 100%; padding: 10px; border: 1px solid #e5ddd5; }

.modal-page__remember-me { font-size: 14px; }

.modal-page__remember-me-check-box { background: #ffffff; border: 1px solid #e5ddd5; -webkit-appearance: none; -moz-appearance: none; appearance: none; padding: 15px; transform: translateY(35%); margin-right: 5px; cursor: pointer; }

.modal-page__remember-me-check-box:checked { background: #4e4e4e; }

.modal-page__link-forget-paswd { color: black; text-decoration: underline; text-align: right; margin-top: 13px; font-size: 14px; display: block; }

.modal-page__enter-btn { background: #826550; color: white; border: none; text-transform: uppercase; font-weight: bold; line-height: 50px; flex-basis: 50%; margin-right: 10px; cursor: pointer; }

.modal-page__exit-btn { background: #f8f5f2; border: 1px solid #e5ddd5; text-transform: uppercase; font-weight: bold; line-height: 50px; flex-basis: 50%; margin-left: 10px; cursor: pointer; }

/* === Block === header-navigation-wrapper === */
.header-navigation-wrapper { display: flex; flex-direction: column; }

@media screen and (min-width: 768px) { .header-navigation-wrapper { background: url(../img/head-bg.jpg) no-repeat center; background-size: cover; } }

/* === End of block === header-navigation-wrapper === */
/* === Block === head-logo === */
.head-logo { text-align: center; font-size: 0; }

@media screen and (min-width: 768px) { .head-logo { min-height: 400px; } }

@media screen and (min-width: 1200px) { .head-logo { min-height: 640px; } }

.head-logo a { background: url("../img/logo.png") no-repeat center; padding: 40px 120px; display: inline-block; }

@media screen and (min-width: 768px) { .head-logo a { background: url("../img/logo-tablet.png") no-repeat center; padding: 70px 190px; margin-top: 30px; } }

@media screen and (min-width: 1200px) { .head-logo a { background: url("../img/desktop-logo.png") no-repeat center; padding: 80px 190px; margin-top: 45px; } }

/* === End of block === head-logo === */
/* === Block === navigation === */
.navigation { position: relative; }

@media screen and (min-width: 768px) { .navigation { order: -1; background: #000000; } }

.navitagtion__top { display: flex; align-items: center; background-color: #826550; }

.navigation__titile { color: white; text-decoration: none; text-align: center; line-height: 50px; font-weight: 700; letter-spacing: .7px; display: inline-block; flex-grow: 1; padding-left: 70px; }

@media screen and (min-width: 768px) { .navigation__titile { display: none; } }

.navigation__btn { border: none; width: 70px; height: 50px; cursor: pointer; }

.navigation__btn:focus { outline: none; }

@media screen and (min-width: 768px) { .navigation__btn { display: none; } }

.js-navigation__btn--close { background: url(../img/btn-cross.png) no-repeat center; background-color: #6a4d38; order: -1; }

.js-navigation__btn--open { background: url(../img/btn.png) no-repeat center; background-color: #6a4d38; order: 1; }

/* === End of block === navigation === */
/* === Block === menu === */
.menu { margin-left: 70px; }

.menu:before { position: absolute; box-shadow: inset 10px -6px 15px -5px #4e3929; top: 0; left: 0; bottom: 0; width: 20px; content: ""; cursor: pointer; pointer-events: none; }

@media screen and (min-width: 768px) { .menu:before { display: none; } }

@media screen and (min-width: 768px) { .menu { position: relative; left: 0; box-shadow: none; width: 100%; background: #000000; margin: 0 auto; padding: 0 20px; } }

@media screen and (min-width: 768px) and (min-width: 768px) { .menu { padding: 0 64px; } }

@media screen and (min-width: 768px) and (min-width: 1200px) { .menu { padding: 0 120px; } }

@media screen and (min-width: 768px) { .menu .menu__list { display: flex; justify-content: space-between; } }

.menu .menu__item { border-bottom: 1px solid #71543f; border-top: 1px solid #886e5b; text-transform: uppercase; background-color: #826550; width: 100%; }

@media screen and (min-width: 768px) { .menu .menu__item { width: auto; border: none; background-color: #000000; }
  .menu .menu__item--selected { position: relative; border-bottom: 2px solid #826550; } }

.menu .menu__item--login { border: none; background: url(../img/login.png) no-repeat 8px 10px; background-color: #6a4d38; text-transform: none; }

@media screen and (min-width: 768px) { .menu .menu__item--login { padding-left: 15px; box-shadow: none; background-color: #000000; background: url(../img/login.png) no-repeat center left; } }

@media screen and (min-width: 768px) { .menu .menu__item:hover { background-color: #1f1f1f; } }

.menu__link { color: white; display: block; line-height: 49px; padding-left: 15px; cursor: pointer; }

.menu__link--padding-size { padding-bottom: 50px; padding-left: 40px; }

@media screen and (min-width: 768px) { .menu__link { line-height: 1; padding: 20px; } }

@media screen and (max-width: 767px) { .js-menu--openned { position: absolute; z-index: 10; top: 0; left: 0; right: 0; } }

@media screen and (max-width: 767px) { .js-menu--closed { visibility: hidden; } }

@media screen and (max-width: 767px) { .js-menu--nojs { margin-left: 0; position: relative; visibility: visible; top: -50px; } }

/* === End of block === menu === */
/* === Block === statistic === */
.statistic { display: flex; flex-direction: column; }

@media screen and (min-width: 768px) { .statistic { margin: 0 auto; padding: 0 20px; position: relative; } }

@media screen and (min-width: 768px) and (min-width: 768px) { .statistic { padding: 0 64px; } }

@media screen and (min-width: 768px) and (min-width: 1200px) { .statistic { padding: 0 120px; } }

@media screen and (min-width: 1200px) { .statistic { flex-direction: row; margin-top: -160px; justify-content: center; } }

.statistic__note--top { color: #cacaca; display: none; }

@media screen and (min-width: 768px) { .statistic__note--top { display: block; padding: 0 30px; } }

@media screen and (min-width: 1200px) { .statistic__note--top { position: absolute; bottom: 20px; } }

.statistic__note--bottom { color: #7f7f7f; text-align: center; margin: 10px; }

@media screen and (min-width: 768px) { .statistic__note--bottom { display: none; } }

.statistic__wrap { padding: 32px 20px 30px 20px; background: white; display: flex; flex-direction: column; position: relative; }

@media screen and (min-width: 768px) { .statistic__wrap { flex-direction: row; min-height: 180px; margin-top: -180px; padding: 22px; align-items: center; } }

@media screen and (min-width: 1200px) { .statistic__wrap { margin-top: 0; flex-direction: row; flex-wrap: wrap; flex-basis: 360px; padding: 0; } }

.statistic__title { font-weight: 700; font-size: 22px; text-transform: uppercase; text-align: center; }

@media screen and (min-width: 768px) { .statistic__title { flex-basis: 50%; font-size: 28px; padding: 10px 30px; text-align: left; } }

@media screen and (min-width: 1200px) { .statistic__title { flex-basis: 100%; } }

.statistic__descr { text-align: center; }

@media screen and (min-width: 768px) { .statistic__descr { flex-basis: 50%; padding: 10px 30px; text-align: left; } }

@media screen and (min-width: 1200px) { .statistic__descr { flex-basis: 100%; align-self: flex-start; } }

/* === End of block === statistic === */
/* === Block === achivments === */
.achivments { display: flex; flex-direction: column; }

@media screen and (min-width: 768px) { .achivments { flex-direction: row; flex-wrap: wrap; } }

@media screen and (min-width: 1200px) { .achivments { flex-basis: 640px; } }

.achivments__item { color: white; background: #4e4e4e; display: flex; align-items: center; justify-content: space-between; min-height: 70px; padding: 0 20px; }

.achivments__item:nth-child(3) { background: #353535; }

.achivments__item:nth-child(1) { background: #353535; }

@media screen and (min-width: 768px) { .achivments__item { flex-basis: 50%; flex-direction: column; min-height: 160px; align-items: flex-start; justify-content: center; padding-left: 50px; }
  .achivments__item:nth-child(1) { background: #404040; }
  .achivments__item:nth-child(2) { background: #4e4e4e; }
  .achivments__item:nth-child(3) { background: #353535; }
  .achivments__item:nth-child(4) { background: #404040; } }

.achivments__number { font-size: 26px; }

@media screen and (min-width: 768px) { .achivments__number { font-size: 58px; flex-basis: 1px; }
  .achivments__number abbr { font-size: 20px; position: relative; top: -25px; } }

.achivments__descr { font-size: 14px; text-align: right; }

@media screen and (min-width: 768px) { .achivments__descr { flex-basis: 1px; font-size: 18px; } }

/* === End of block === achivments === */
/* === Block === advantages === */
.advantages { margin: 0 auto; padding: 0 20px; position: relative; max-width: 1240px; padding-bottom: 24px; }

@media screen and (min-width: 768px) { .advantages { padding: 0 64px; } }

@media screen and (min-width: 1200px) { .advantages { padding: 0 120px; } }

@media screen and (min-width: 1200px) { .advantages { display: flex; flex-wrap: wrap; justify-content: center; } }

.advantages__item { color: white; text-align: center; clear: both; margin: 20px 20px; }

@media screen and (max-width: 767px) { .advantages__item { position: absolute; right: 1000px; }
  .advantages__item--selected { position: relative; top: 0; right: 0; left: 0; bottom: 0; } }

@media screen and (min-width: 768px) { .advantages__item { text-align: left; position: relative; padding: 15px 0; margin: 45px 20px; }
  .advantages__item:after { position: absolute; background: #4a4a4a; width: 85%; height: 2px; content: ""; bottom: -22px; left: 0; right: 0; margin: 0 auto; } }

@media screen and (min-width: 1200px) { .advantages__item { text-align: center; margin: 25px 26px; flex-basis: 25%; flex-grow: 1; }
  .advantages__item:after { display: none; } }

.advantages__image { margin: 10px; width: 100px; height: 100px; }

@media screen and (min-width: 768px) { .advantages__image { float: left; margin: 0 38px 0 0; } }

@media screen and (min-width: 1200px) { .advantages__image { float: none; margin: 10px 0; } }

.advantages__title { font-size: 22px; text-transform: uppercase; font-weight: bold; }

@media screen and (min-width: 768px) { .advantages__text { margin-left: 135px; } }

@media screen and (min-width: 1200px) { .advantages__text { margin-left: 0; } }

.advantages__pointers-wrap { color: white; text-align: center; }

@media screen and (min-width: 768px) { .advantages__pointers-wrap { display: none; } }

.advantages__pointer { background-color: transparent; border: none; padding: 4px; margin: 6px 8px; cursor: pointer; outline: #cccccc; border: #969696 1px solid; transform: rotate(135deg); }

.advantages__pointer--selected { background-color: white; transform: rotate(135deg); padding: 4px; margin: 6px 8px; border: #cccccc 1px solid; }

/* === End of block === advantages === */
/* === Block === News === */
.news { background: white; padding: 30px 20px; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; max-width: 1250px; margin: 0 auto; }

@media screen and (min-width: 768px) { .news { padding: 35px 64px; } }

@media screen and (min-width: 1200px) { .news { padding: 40px 120px; } }

.news__title { font-weight: bold; font-size: 26px; text-transform: uppercase; margin: 10px; }

@media screen and (min-width: 768px) { .news__title { order: -1; flex-grow: 1; } }

@media screen and (min-width: 1200px) { .news__title { padding-left: 55px; } }

.news__items-wrapper { display: flex; flex-wrap: wrap; }

@media screen and (min-width: 768px) { .news__items-wrapper { margin-top: 25px; } }

.news__item { display: flex; flex-wrap: wrap; align-items: flex-start; margin: 20px 0; padding-bottom: 10px; border-bottom: 1px solid #e5ddd5; transition: opacity .3s ease-out; }

@media screen and (min-width: 768px) { .news__item { flex-basis: 40%; flex-grow: 1; margin: 20px 0; }
  .news__item:nth-child(2n) { margin-left: 60px; }
  .news__item:last-child { flex-grow: 0; flex-basis: 45%; } }

@media screen and (min-width: 1200px) { .news__item { flex-basis: 29%; margin: 3% 2%; flex-grow: 0; }
  .news__item:nth-child(2n) { margin: 3% 2%; }
  .news__item:last-child { flex-grow: 0; flex-basis: 29%; } }

.js-news__item--hidden { visibility: hidden; position: absolute; opacity: 0; }

.news__date { flex-basis: 50px; text-align: center; background: black; color: white; margin: 0 15px 0 0; text-transform: uppercase; padding: 15px 0 5px 0; line-height: 18px; font-size: 12px; }

.news__date--bigger { font-size: 28px; }

.news__text { flex-basis: 70%; flex-grow: 1; }

.news__btn { border: 2px solid #e5ddd5; background: #f8f5f2; transition: background .3s; -ms-align-self: center; align-self: center; }

.news__btn a { width: 160px; line-height: 40px; display: block; text-align: center; color: black; text-transform: uppercase; font-weight: bold; font-size: 11px; }

.news__btn:hover { background: #e5ddd5; }

@media screen and (min-width: 768px) { .news__btn { order: -1; } }

/* === End of block === News === */
